<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="restaurantReviewXsltPath" value="c:\Algonquin\18W\CST8259\Week 4\Lab 5\restaurant_reviews.xslt"/>
    <add key="restaurantReviewXmlPath" value="c:\Algonquin\18W\CST8259\Week 4\Lab 5\restaurant_reviews.xml"/>
    <!--<add key="restaurantReviewXsltPath" value="C:\gongw\Lab 5\restaurant_reviews.xslt"/>
    <add key="restaurantReviewXmlPath" value="C:\gongw\Lab 5\restaurant_reviews.xml"/>-->
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
